<div id="banner">
    <div class="container">
        <div class="row">
            <div class="head">
                <div class="royal_logo"></div>
                <div class="inner">
                    <h2>Get Royal Deals</h2>
                    <h4>upto <span class="colored">40%</span> off</h4>
                    <h3>call us now</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gutter">
                <div class="search">
                    <span class="title">Find your cruise</span>
                    <form action="">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="gutter">
                                        <div class="input_wrapper">
                                            <label for="">Destination</label>
                                            <input class="input" type="text" placeholder="any destination">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="gutter">
                                        <div class="input_wrapper">
                                            <label for="">Depart Port</label>
                                            <input class="input" type="text" placeholder="any port">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="gutter">
                                        <div class="input_wrapper depart">
                                            <label for="">Departure Month</label>
                                            <input class="input" type="text" placeholder="any month">
                                        </div>
                                        <div class="input_wrapper duration">
                                            <label for="">Duration</label>
                                            <input class="input" type="text" placeholder="any duration">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="gutter">
                                        <div class="input_wrapper">
                                            <label for="">Cruise Line</label>
                                            <input class="input" type="text" placeholder="any cruise line">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <button class="button submit pull-right">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>