<div id="cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="gutter">
                    <div class="bg"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gutter">
                    <div class="head">
                        <h3>Save upto 15% on your next ultra-luxury 2025 or 2026 cruise</h3>
                        <p>Explore the hidden gems along the cote d'azur and costa del sol or venture further into the unknown by cruising tracy arm in a catamaran in alaska. Offer ending soon. T&C apply.</p>
                        <a href="tel:(844) 679-8050">
                            <button class="button">call now</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>