<div id="cta_book">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="left_half">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="content">
                                        <div class="icon" style="background-image:url('assets/img/meditate.svg')">
                                        </div>
                                        <h3>Transparent and Affordable</h3>
                                        <p>Worried about hidden costs ? Royal Caribbean makes pricing simple and transparent. When searching for the best <b>Royal Caribbean cruise price</b> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="content">
                                        <div class="icon" style="background-image:url('assets/img/meditation.svg')">
                                        </div>
                                        <h3>Early bookings</h3>
                                        <p>
                                            Booking early often unlocks the lowest prices, you can score fantastic deals closer to departure through <b>Royal Caribbean booking</b> promotions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="content">
                                        <div class="icon" style="background-image:url('assets/img/sahasrara.svg')">
                                        </div>
                                        <h3>Explore Best Deals</h3>
                                        <p>There’s nothing quite like a tropical escape, and <b>Caribbean cruise deals</b> from Royal Caribbean offer the perfect way to explore paradise.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="content">
                                        <div class="icon" style="background-image:url('assets/img/stop.svg')">
                                        </div>
                                        <h3>Amenities</h3>
                                        <p>from 3-night weekend escapes or extended 7-night island-hopping journeys No matter the length, you’ll enjoy top-tier amenities and service on every sailing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about_content">
                    <span>Ready to plan your dream vacation...</span>
                    <h3>How to Book and Get in Touch</h3>
                    <p>You can start your <b>Royal Caribbean booking</b> process online in just a few clicks. The Royal Caribbean website offers a user-friendly booking system where you can filter by destination, date, and price.</p>
                    <h3>Need assistance or have questions?</h3>
                    <p>Contact the <b>Royal Caribbean phone number</b> for personalized support from experienced cruise advisors. They're available to help with everything from selecting the perfect itinerary to understanding current deals and offers. </p>
                    <a href="tel:1-800-803-5760">

                          <a href="tel:1-800-803-5760"></a>
                        <button class="button primary" type="button" name="button">Call Now :1-800-803-5760</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>