<div id="deals">
    <div class="container">
        <div class="row">
            <h3 class="head">Last Minute Cruise Deals</h3>
            <div class="controls_wrapper">
                <div class="controls">
                    <span id="prev_deals_carousel" class="prev"></span>
                    <span id="next_deals_carousel" class="next"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="deals_carousel" class="owl-carousel owl-theme">
                <div class="owl_item">
                    <div class="gutter">
                        <div class="item">
                            <div class="bg" style="background-image:url('assets/img/1750.jpg');"></div>
                            <div class="text">
                                <h3>3 night key west and bahamas cruise</h3>
                                <p>Fri Jun 13, 2025</p>
                                <span class="rate">From $2,797 pp</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl_item">
                    <div class="gutter">
                        <div class="item">
                            <div class="bg" style="background-image:url('assets/img/2149426462.jpg');"></div>
                            <div class="text">
                                <h3>8 Night Bahamas from Galveston Cruise</h3>
                                <p>Sat May 31, 2025</p>
                                <span class="rate">From $1,269 pp</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl_item">
                    <div class="gutter">
                        <div class="item">
                            <div class="bg" style="background-image:url('assets/img/15422.jpg'); background-position:top"></div>
                            <div class="text">
                                <h3>3 Night Ensenada Cruise</h3>
                                <p>Tue Jun 03, 2025</p>
                                <span class="rate">From $378 pp</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>