<div id="detinations">
    <div class="container">
        <div class="row">
            <div class="head">
                <h3>Explore Top Destination</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="gutter">
                    <div class="item" style="background-image:url('assets/img/11676.jpg')">
                        <div class="text">
                            <h3>Caribbean Cruises</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="gutter">
                    <div class="item" style="background-image:url('assets/img/335.jpg')">
                        <div class="text">
                            <h3>Alaska Cruises</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="gutter">
                    <div class="item" style="background-image:url('assets/img/6954.jpg')">
                        <div class="text">
                            <h3>Mediterranean Cruises</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="gutter">
                    <div class="item" style="background-image:url('assets/img/23855.jpg')">
                        <div class="text">
                            <h3>Mexico Cruises</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>