<div id="member_cta">
    <div class="container">
        <div class="row">
            <div class="gutter">
                <div class="item">
                    <div class="bg"></div>
                    <div class="text">
                        <div class="head">
                            <h3>Need Help Booking ? Give Us a Call</h3>
                            <p>Connect with Your Cruise Concierge</p>
                        </div>
                        <div class="button_wrapper">
                            <a href="tel:1-800-803-5760">
                                <button class="button">Call Us Now</button>
                            </a>
                            <p>Call
                                <a href="tel:1-800-803-5760">
                                   1-800-803-5760
                                </a>
                                for more info
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>