<div id="testimonials">
    <div class="container">
        <div class="row">
            <div class="head">
                <h3>Read What Our Customers have to say !</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="gutter">
                    <div id="testimonials_carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <span class="stars"></span>
                            <p>The Best Ticket Fares made my booking experience so easy and convenient. I like that they have all the cruise lines available so you can check rates for the best picks to fit your budget.</p>
                            <div class="intro">
                                <span class="name">Kimberly W.</span>
                                <span class="time">April 2025</span>
                            </div>
                        </div>
                        <div class="item">
                            <span class="stars"></span>
                            <p>I no longer book through the cruise line itself because the best ticket fares has everything I want. The prices are better, the options of so many different cruise lines are amazing, and I prefer their payment options too. I made a mistake after booking a cruise and the representative was so pleasant about fixing it. With service like that, there’s no reason why I would ever go back to booking with the cruise line directly.</p>
                            <div class="intro">
                                <span class="name">Edrica B.</span>
                                <span class="time">June 2025</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>